html,
body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  transition: width 0.2s ease-in-out;
  height: 100vh;
  background-color: #ffaaa5;
  padding-top: 30px;
}

.sidebar.closed {
  transition: width 0.2s ease-in-out;
  width: 50px;
}



.detail {
  grid-area: detail;
  background-color: #ffd3b6;
}

.waterfall-item.even {
  background-color: rgb(217, 247, 237);
}

.waterfall-item.odd {
  background-color: rgb(14, 239, 164);
}

.waterfall-item.active {
  border-left: 5px solid rgb(255, 190, 0);
  background-color: palegoldenrod;
}
