/* Shared filter component styles */

.list-button {
  @apply w-full text-left px-4 py-1 text-sm hover:bg-base-200 focus:bg-base-200 transition-colors flex items-center;
}

.selection-indicator--active {
  @apply bg-neutral border-l-2 border-primary;
}

.section-header--hide-narrow {
  @apply text-sm font-semibold text-base-content py-1 px-4 flex items-center;
}

@media (max-width: 767px) {
  .section-header--hide-narrow {
    @apply hidden;
  }
}

.filter-separator {
  @apply w-px bg-base-300;
}

.tabs {
  @apply grid grid-cols-3;
  min-width: 400px;
}

.tab {
  @apply input input-sm items-center cursor-pointer mx-0.5;
  @apply transition-colors duration-200;
  @apply hover:bg-base-200;
  @apply border-transparent;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}

.tabs input[type='radio'].tab:checked {
  @apply bg-primary text-primary-content;
  @apply border-b-2 border-b-primary-content;
}
