# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on: push

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: windows-latest
            env:
              NO_WINDOWS_SERVICE: 0


    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.23

    - name: Build
      run: cd desktopcollector; go build -o ../otel-desktop-viewer
 
    - name: Exporter Go Tests
      run: cd desktopexporter; go test ./...

    - name: Integration
      run: ./.github/workflows/integration.sh
      shell: bash
      env:
        CI: true
